extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/products-grid.pug
include ../../mixins/blog-famous.pug
include ../../mixins/formatTime.pug
include ../../mixins/blog.pug

block main
  .blog
    .container.my-3
      .row
        .col-4 
          +blog-new(blogNew)
        .col-8 
          h2.title #{item.title}
          .calender 
            i(class="fa-solid fa-calendar-days")
            +FormatDate(item.createBy.createAt)
          .description 
            p !{item.description}