.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  width: 125px;
  max-width: 100%;
  scale: 1.5;
  scale: 1.5;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}

.header .form-search {
  margin-top: 20px;
}

/* End Header */

/* Footer */
.footer {
  background-color: #333;
  text-align: center;
  padding: 10px;
  color: #fff;
}

/* PRODUCT */
.box-head .inner-title {
  color: green;
  margin-bottom: 20px;
}

.product-item {
  width: 100%;
  aspect-ratio: 4/2;
  font-weight: 700;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.product-item .inner-image {
  height: 100%;
  aspect-ratio: 4/5;
  margin: 0 auto;
  position: relative;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
}

.product-item .inner-content {
  padding: 15px;
  height: 100%;
  aspect-ratio: 300 / 187;
  width: 100%;
}

.product-item .inner-content .inner-price-new {
  color: green;
}

.product-item .inner-content .inner-price-old {
  text-decoration: line-through;
  color: red;
}

.product-item .inner-content .inner-discount {
  background-color: red;
  color: white;
  border-radius: 15px;
  display: inline-block;
  padding: 5px;
}

/* END PRODUCT */

/* DETAIL */

.detail-title {
  text-align: center;
  color: #28a745;
  margin: 20px 0;
}

.detail .inner-image {
  width: 100%;
  transition: all 1s ease;
  margin-top: 20px;
  position: relative;
  margin-left: 30px;
}

.detail .inner-image .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.detail .inner-image:hover {
  border: 5px solid #fa4f30;
}

.detail .inner-image img {
  width: 100%;
}

.detail .item__detail {
  font-size: 18px;
  font-weight: 450;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.detail .item__detail form {
  margin: 10px 0;
}

.detail .item__detail .header-item {
  display: flex;
  align-items: center;
}

.detail .item__detail .header-item .chinh-hang {
  width: 90px;
  height: 20px;
  margin-right: 10px;
}

.detail .status,
.detail .position,
.detail .stock {
  font-weight: 600;
  margin: 0;
}

.detail .price {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
}

.detail .price .old-price {
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 10px;
  color: #929292;
}

.detail .price .new-price {
  color: #ee4d2d;
  font-size: 30px;
  margin-right: 20px;
}

.detail .price .discount {
  background-color: #ee4d2d;
  font-size: 12px;
  color: white;
  padding: 5px;
  border-radius: 12px;
}

.detail .btn-edit {
  width: 100%;
  font-size: 20px;
}

.detail .desc {
  font-size: 20px;
  margin-top: 10px;
}

.detail .description {
  padding: 30px;
}

.detail .sum,
.detail .result {
  font-weight: 600;
}

.detail .sum {
  font-size: 16px;
}

.detail .result {
  font-size: 30px;
  margin-left: 20px;
  color: #0157e0;
}

/* END DETAIL */

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9; /* Đã sửa lỗi chính tả trong mã màu */
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Đã sửa lỗi chính tả */
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */

/* ALERT */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] .close-alert {
  background: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}

/* END ALERT */

/* BLOG */
.blog .blog-item {
  display: flex;
  height: 72px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #e6e5e5;
  border-radius: 15px;
  margin-bottom: 10px;
}

.blog .blog-new h3 {
  color: #c2000c;
  font-weight: 700;
  margin-bottom: 20px;
}

.blog .inner-image {
  position: relative;
}

.blog .inner-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #ee9b6a, #c1501c);
  opacity: 0; /* Bắt đầu với độ mờ là 0 (ẩn) */
  transition: all 500ms cubic-bezier(0.47, 0, 0.75, 0.72);
  z-index: 1;
  width: 0;
}

.blog .blog-item:hover .inner-image::after {
  width: 100%;
  cursor: pointer;
  opacity: 0.9; /* Khi hover, độ mờ tăng lên để hiển thị overlay */
}

.blog .inner-image-main {
  position: relative;
}

.blog .inner-image-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #ee9b6a, #c1501c);
  opacity: 0;
  transition: all 500ms cubic-bezier(0.47, 0, 0.75, 0.72);
  z-index: 1;
  width: 0;
}

.blog .blog-item-main:hover .inner-image-main::after {
  width: 100%;
  cursor: pointer;
  opacity: 0.9;
}

.blog .inner-image img {
  width: 86px;
  aspect-ratio: 4/3;
}

.blog .wrap-content {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.blog .wrap-content a {
  color: black;
  height: 66%;
  overflow: hidden;
  font-weight: 700;
  font-size: 13px;
  transition: color 1s ease;
}

.blog .wrap-content a:hover {
  color: #db440f;
  cursor: pointer;
}

.blog .wrap-content p {
  font-size: 11px;
  font-weight: 500;
  margin: 0;
}

.blog .blog-item-main {
  height: 400px;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 1px solid #e6e5e5;
  border-radius: 15px;
}

.blog .blog-item-main .inner-image-main img {
  width: 100%;
  aspect-ratio: 4/3;
}

.blog .wrap-content-main a {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.blog .calender {
  display: flex;
  font-size: 15px;
  font-weight: 400;
}

.blog .calender i {
  margin-top: 4px;
}

.blog .calender p {
  margin: 0;
  margin-left: 5px;
}

.blog .content {
  padding: 15px;
}

.blog .blog-item-main .short-desc {
  font-size: 14px;
}

.blog .description {
  overflow: hidden;
}

.blog .title {
  color: #c2000c;
  font-weight: 700;
  margin-bottom: 10px;
}

/* END BLOG */

/* SUCCESS PAGE */
.success-payment {
  text-align: center;
}

.success-payment .inner-image {
  width: 20%;
  margin: 0 auto;
}

.success-payment .inner-image img {
  width: 100%;
}

.success-payment .totalPrice .price {
  font-size: 40px;
  font-weight: 700;
  color: #28a745;
}

.success-payment .item-product {
  margin-bottom: 10px;
}

.success-payment .item-product img {
  width: 30%;
}

.success-payment .title {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
}

.success-payment p {
  margin: 0;
}

.otp #otp,
.otp #email {
  text-align: center;
}

/* END SUCCESS PAGE */

/* CHAT */
.chat {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
}

.chat .inner-body {
  max-height: 450px;
  overflow-y: scroll;
}

.chat .inner-name {
  font-weight: 700;
}

.chat .inner-incoming .inner-content {
  background-color: #f3f0f3;
  border-radius: 15px;
  padding: 10px;
  max-width: 50%;
  display: inline-block;
  margin-top: 10px;
}

.chat .inner-outgoing {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.chat .inner-outgoing .inner-content {
  background-color: #fe5ca0;
  color: white;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  max-width: 60%;
  margin: 10px 0;
}

.chat .inner-form {
  margin-top: 20px;
}

.chat input {
  width: 85%;
  border: 1px solid #cccccc;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .chat input {
    width: 84%;
  }
}

@media (max-width: 1000px) {
  .chat input {
    width: 78%;
  }
}

@media (max-width: 790px) {
  .chat input {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .chat input {
    width: 65%;
  }
}

.chat .image-right {
  text-align: right;
}

.chat .image-left {
  text-align: left;
}

.chat input:focus {
  border: 1px solid #ee0979;
  outline: none;
}

.chat button {
  padding: 10px;
  background-color: #fe5ca0;
  border: none;
  margin-left: 10px;
  color: white;
  border-radius: 20px;
}

.chat .inner-body .inner-images img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #efefef;
  padding: 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}

.chat .inner-body .inner-images {
  margin-left: auto;
}

.chat .inner-body .inner-images img {
  margin: 0 0 5px 5px;
}

.chat .inner-preview-images .label-container {
  display: none;
}

.chat .inner-preview-images .input-container {
  display: none;
}

.chat .inner-preview-images .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}

.chat .inner-preview-images .image-preview-item {
  width: 90px;
  background-size: contain;
}

/* END CHAT */

/* emoji */

.chat .button-icon {
  /* background: #fe5ca0; */
  padding: 10px;
  margin-left: 10px;
  border-radius: 15px;
}

.chat .button-icon:hover {
  cursor: pointer;
}

.tooltip {
  display: none;
}

.tooltip:not(.shown) {
  display: block;
  opacity: 1;
}

emoji-picker {
  position: absolute;
  bottom: 50px;
  right: -25px;
}
/* emoji */

/* typing */
/* box-typing */
.box-typing {
  position: relative;
}

/* Định dạng cho phần tử inner-dots */
.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

/* Typing effect */
/* Định dạng chung cho box-typing */
.box-typing {
  position: relative;
}

/* Định dạng cho inner-dots */
.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

/* Định dạng và hiệu ứng nhấp nháy cho các span */
.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

/* Hiệu ứng nhấp nháy cho các điểm */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* Đặt độ trễ cho từng span để tạo hiệu ứng nhấp nháy liên tục */
.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.25s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.5s;
}

/* typing */

/* BOX USER */
.box-user {
  display: flex;
  border: 1px solid #d1d7dd;
  border-radius: 20px;
  margin-bottom: 20px;
  /* aspect-ratio: 4/3; */
}

.box-user .inner-avatar {
  width: 100px;
  padding: 10px;
}

.box-user img {
  width: 100%;
  border-radius: 50%;
  background-color: #c2c6d2;
}

.box-user .inner-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-user .inner-name {
  font-size: 20px;
  font-weight: 500;
}

.box-user .btn {
  width: 90%;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}

.box-user.add [btn-cancel-friend] {
  display: inline-block;
}

.box-user .inner-status {
  font-size: 12px;
  color: #00d800; /* Green color */
  opacity: 0; /* Initially hidden */
}

.box-user .inner-status[status="online"] {
  opacity: 1; /* Visible when status is 'online' */
}

.infoEdit .wrap-image {
  width: 100%;
  text-align: center;
}

.infoEdit .wrap-image img {
  width: 100%;
  width: 210px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

/*END  BOX USER */

/* FRIEND */
.list-box {
  text-align: center;
}

.inner-buttons {
  display: flex;
  align-items: center;
}

.inner-buttons.none {
  display: none;
}

.accept,
.decline {
  font-weight: 700;
  display: none;
}

.accept.display,
.decline.display {
  display: block;
}

.delete-friend {
  display: none;
}

.delete-friend.display {
  display: block;
}
/* END FRIEND */

/* ALERT  */
/* Container chứa thông báo */
#notification-container {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 1000;
}

/* Thông báo chung */
.notification {
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #fff;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: slideIn 0.5s forwards, fadeOut 0.5s 4.5s forwards;
}

/* Hiệu ứng trượt vào */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Hiệu ứng mờ dần */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Thông báo thành công */
.notification-success {
  background-color: #4caf50;
}

/* Thông báo lỗi */
.notification-error {
  background-color: #f44336;
}

/* Nút đóng thông báo */
.close-notification {
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

/*END  ALERT  */

/* DROP DOWN */
.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dropdown-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-btn:focus {
  outline: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  max-height: 500px;
  padding: 10px;
  width: 100%;
}

.dropdown-menu label {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu .fullName {
  display: flex;
  align-items: center;
  width: 400%;
}

.dropdown-menu .fullName p {
  margin: 0;
}

.dropdown-menu input[type="checkbox"] {
  margin-right: 10px;
}

/* Show the dropdown when clicking on the button */
.custom-dropdown.show .dropdown-menu {
  display: block;
}
/* END DROP DOWN */

/* LIST ROOM CHAT  */
.list-room-chat .inner-avatar {
  width: 20%;
}

.list-room-chat .btn {
  width: 100%;
}

/* END LIST ROOM CHAT  */

/* GROUP CHAT  */
.dropdown-menu.show .inner-status {
  font-size: 12px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00d800; /* Green color */
  opacity: 0; /* Initially hidden */
  margin-left: 8px;
}

.dropdown-menu.show .inner-status[status="online"] {
  opacity: 1; /* Visible when status is 'online' */
}

.dropdown-menu .bar {
  font-size: 15px;
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 40px;
}

/* END GROUP CHAT  */

.custom-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 12px 16px;
}

.custom-dropdown .show {
  display: block;
}

.dropdown-menu.show .sub:hover {
  cursor: pointer;
  text-decoration: underline;
}

.dropdown-menu .fullName p {
  margin-right: 3px;
}

.add-member {
  width: 100%;
  background-color: #4caf50;
}
