.header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.header .inner-logo img {
  width: 125px;
  max-width: 100%;
}

.header .inner-menu > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .inner-menu > ul > li {
  margin-left: 20px;
}

/* End Header */

/* Footer */
.footer {
  background-color: #333;
  text-align: center;
  padding: 10px;
  color: #fff;
}

/* PRODUCT */
.box-head .inner-title {
  color: green;
  margin-bottom: 20px;
}

.product-item {
  width: 100%;
  aspect-ratio: 4/2;
  font-weight: 700;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
}

.product-item .inner-image {
  height: 100%;
  aspect-ratio: 4/5;
  margin: 0 auto;
  position: relative;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
}

.product-item .inner-content {
  padding: 15px;
  height: 100%;
  aspect-ratio: 300 / 187;
  width: 100%;
}

.product-item .inner-content .inner-price-new {
  color: green;
}

.product-item .inner-content .inner-price-old {
  text-decoration: line-through;
  color: red;
}

.product-item .inner-content .inner-discount {
  background-color: red;
  color: white;
  border-radius: 15px;
  display: inline-block;
  padding: 5px;
}

/* END PRODUCT */

/* DETAIL */
.detail .inner-image {
  width: 100%;
  transition: all 1s ease;
  margin-top: 20px;
}

.detail .inner-image:hover {
  border: 5px solid #fa4f30;
}

.detail .inner-image img {
  width: 100%;
}

.detail .item__detail {
  font-size: 18px;
  font-weight: 450;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detail .status,
.detail .position,
.detail .stock {
  font-weight: 600;
  margin: 0;
}

.detail .price {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
  border-radius: 15px;
}

.detail .price .old-price {
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 10px;
  color: #929292;
}

.detail .price .new-price {
  color: #ee4d2d;
  font-size: 30px;
  margin-right: 20px;
}

.detail .price .discount {
  background-color: #ee4d2d;
  font-size: 12px;
  color: white;
  padding: 5px;
  border-radius: 12px;
}

.detail .btn-edit {
  width: 100%;
  font-size: 20px;
}

.detail .desc {
  font-size: 20px;
  margin-top: 10px;
}
/* END DETAIL */

/* sub-menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #eae9e9; /* Đã sửa lỗi chính tả trong mã màu */
  min-width: 180px;
  display: none;
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Đã sửa lỗi chính tả */
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* End sub-menu */
