extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/products-grid.pug
include ../../mixins/blog-famous.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Sản phẩm nổi bật")
      //- +products-grid(products)
    +blog-famous(products)
  .container.my-3
    .row
      .col-12
        +box-head("Sản phẩm mới")
      +products-grid(productsNew)
  //- +blog-famous(productsNew)