mixin pagination()
  ul.pagination
    li.page-item
      button.page-link.previous-button Trang trước
    for i in Array.from({ length: pagination.totalPage }, (_, index) => index + 1)
      li(class=`page-item ${i == pagination.currentPage ? "active" : ""}`)
        button.page-link.button-pagination #{i}

    li.page-item
      button.page-link.after-button Kế tiếp