extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  .container.my-3.cart
    .row
      .col-12
        +box-head("Chat")

    .row
      .col-12.chat
        //- Inner Head
        //- .inner-avatar Charlie
        //- .inner-name Charlie Brown
        .inner-body
          //- Incoming Message
          each item in chats 
            div(class=(item.userInfo.id == userInfo.id ? "inner-outgoing" : "inner-incoming" ))
              if(item.userInfo.id!=userInfo.id)
                .inner-name #{item.userInfo.fullName}
              .inner-content #{item.content}

        //- Message Input Form
        .inner-foot
          form.inner-form(action='')
            input(type='text', placeholder='Nhập nội dung...', name='content')
            button(type='submit', class='fa-solid fa-paper-plane')
