extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
  .container.my-3.cart
    .row
      .col-12.text-center
        img(src="/images/Snoopy Shop_transparent-.png" width="200px")
      .col-12
        +box-head("Quên mật khẩu")
      .col-12 
        p.text-center Nhập email của bạn để nhận mã xác nhận lấy lại mật khẩu
        form(action="/user/password/forgotPassword" method="POST")          
          .form-group
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" required)
          .form-group
            button.btn.btn-primary.btn-block(type="submit") Lấy lại mật khẩu 
        a(href="/user/login").text-center.d-block Quay lại trang đăng nhập
          