extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
include ../../mixins/formatTime.pug

block main
  .container.my-3.success-payment
    .row
      .col-12
        +box-head("Trang đăng nhập")