extends ../../layouts/defaults.pug
include ../../mixins/box-head.pug
include ../../mixins/products-grid.pug
include ../../mixins/blog-famous.pug
include ../../mixins/list-friend.pug

block main
  .container.my-3
    include ../../partials/list-btn-users.pug
    .row
      .col-12
        +box-head("Lời mời kết bạn")
    .row
      if(user.length>0)
        +list-accept(user)
      else 
        h1(style="width: 100%;").text-center Không có lời mời kết bạn nào

block script
  script(src="/js/users.js") 